# AKTU/UPTU Education Performance Monitoring â€“ Starter ETL
This notebook ingests sample CSVs, hashes student IDs, and prepares tables for loading into MySQL.

In [1]:
import pandas as pd, hashlib, numpy as np
#from sqlalchemy import create_engine

students = pd.read_csv("students_master.csv")
attendance = pd.read_csv("attendance_2024_sem.csv")
exams = pd.read_csv("exam_results_2024_sem.csv")
placements = pd.read_csv("placements_2024.csv")


students.head()

,roll_no,dob,gender,category,college_code,program_code,admission_year,domicile_state,quota,disability_flag
0,AKTU003-CSE-2023-1001,2002-04-17,F,OBC,AKTU003,BTECH_CSE,2023,Bihar,GEN,False
1,AKTU001-Management-2022-1002,2002-11-05,F,OBC,AKTU001,MBA,2022,Bihar,GEN,False
2,AKTU002-EE-2021-1003,2004-01-18,M,GEN,AKTU002,BTECH_EE,2021,MP,GEN,False
3,AKTU003-EE-2022-1004,2003-11-18,F,GEN,AKTU003,BTECH_EE,2022,Rajasthan,GEN,False
4,AKTU003-Management-2021-1005,2004-04-20,M,GEN,AKTU003,MBA,2021,UP,Management,False

## Hash student identifiers
We create a stable, irreversible hash per student using college_code + roll_no + dob.

In [2]:
def hash_student(row):
    key = f"{row['college_code']}-{row['roll_no']}-{row['dob']}"
    return hashlib.sha256(key.encode()).hexdigest()

students['student_hash'] = students.apply(hash_student, axis=1)
students[['roll_no','dob','college_code','program_code','student_hash']].head()

,roll_no,dob,college_code,program_code,student_hash
0,AKTU003-CSE-2023-1001,2002-04-17,AKTU003,BTECH_CSE,97a287fa552d2170144c095c74cd78c072182689b8948c...
1,AKTU001-Management-2022-1002,2002-11-05,AKTU001,MBA,e9c9b28760abe75ffdf2788ab1b75944f313d9a2fd552c...
2,AKTU002-EE-2021-1003,2004-01-18,AKTU002,BTECH_EE,6f59ede5e1acf67b06f138962c494dd7b2fc926399ce5e...
3,AKTU003-EE-2022-1004,2003-11-18,AKTU003,BTECH_EE,89914016a2016dd350dc2408c86c18cd17858064a1adb4...
4,AKTU003-Management-2021-1005,2004-04-20,AKTU003,MBA,3fea469d997d19e93ce63c2fbb4842029ab27615bcc57b...

## Map hashes into dependent tables

In [3]:
attendance = attendance.merge(students[['roll_no','dob','student_hash']], on=['roll_no','dob'], how='left')
exams = exams.merge(students[['roll_no','dob','student_hash']], on=['roll_no','dob'], how='left')
placements = placements.merge(students[['roll_no','dob','student_hash']], on=['roll_no','dob'], how='left')

attendance['present_flag'] = (attendance['status']=='P').astype(int)
exams.rename(columns={'internal':'internal_marks','external':'external_marks','total':'total_marks'}, inplace=True)

attendance.head()

,college_code,roll_no,dob,course_code,date,status,student_hash,present_flag
0,AKTU003,AKTU003-CSE-2023-1001,2002-04-17,CSE401,2024-02-02,P,97a287fa552d2170144c095c74cd78c072182689b8948c...,1
1,AKTU003,AKTU003-CSE-2023-1001,2002-04-17,CSE401,2024-02-05,A,97a287fa552d2170144c095c74cd78c072182689b8948c...,0
2,AKTU003,AKTU003-CSE-2023-1001,2002-04-17,CSE401,2024-02-07,P,97a287fa552d2170144c095c74cd78c072182689b8948c...,1
3,AKTU003,AKTU003-CSE-2023-1001,2002-04-17,CSE401,2024-02-08,A,97a287fa552d2170144c095c74cd78c072182689b8948c...,0
4,AKTU003,AKTU003-CSE-2023-1001,2002-04-17,CSE401,2024-02-12,P,97a287fa552d2170144c095c74cd78c072182689b8948c...,1

## (Optional) Load to MySQL
Uncomment and set your credentials.

In [4]:
# engine = create_engine('mysql+pymysql://user:password@host:3306/aktu_dw')
# students.to_sql('stg_students', engine, if_exists='replace', index=False)
# attendance.to_sql('stg_attendance', engine, if_exists='replace', index=False)
# exams.to_sql('stg_exam_results', engine, if_exists='replace', index=False)
# placements.to_sql('stg_placements', engine, if_exists='replace', index=False)

## Simple analytics

In [5]:
# Attendance vs total correlation (proxy for subject/course-level analysis after join on course)
merged = exams.merge(attendance[['student_hash','course_code','present_flag']], on=['student_hash','course_code'], how='left')
att_course = merged.groupby(['student_hash','course_code'])['present_flag'].mean().reset_index().rename(columns={'present_flag':'attendance_pct'})
score_course = merged.groupby(['student_hash','course_code'])['total_marks'].mean().reset_index()

corr_df = att_course.merge(score_course, on=['student_hash','course_code'], how='inner')
corr = corr_df[['attendance_pct','total_marks']].corr().iloc[0,1]
print('Correlation (Attendance vs Total Marks):', round(float(corr),3))

Correlation (Attendance vs Total Marks): 0.393